
<hmtl>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="js/foundation.js">
  <link rel="stylesheet" href="js/foundation.min.js">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Café com TI</title>
  <style media="screen">
    .cent_locu{
      position: absolute;
        top: 50%;
        margin-top: -100px;/* half of #content height*/
        left: 0;
        width: 100%;    }
    .a{

      background-color: rgba(0, 0, 0, 0.27);
    }
  </style>
  <head>
  </head>
  <boby>
    <div class="">
      <div class="cent_locu a" align="center">
        <h3>Área de Login</h3>
        <form data-abide novalidate>
          <div class="">
            <div class="large-3 large-centered columns">
              <div class="email-field">
              <label>
                <input type="email" placeholder="E-mail" required>
                  <span class="form-error">This field is required.</span>
              </label>
            </div>
              <label for="password">
                <input type="password" placeholder="Senha" aria-describedby="exampleHelpText" required >
                <span class="form-error">
        Hey, passwords are supposed to match!
      </span>
              </label>

              <a class="large button" href="#">Acessar</a>
            </div>
            </div>
        </form>

      </div>
    </div>
  </boby>
</html>
